<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="space-between center" style="padding: 14px">
    <!-- <mat-card
      style="width: 500px; height: 500px"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <label>Pie Chart</label>
    </mat-card> -->
    <div fxLayoutAlign="end center" style="padding: 14px">
      <mat-card style="width: 900px; height: 500px">
        <div id="flowchartdiv1" style="height: 450px; width: 900"></div>
      </mat-card>
    </div>
  </div>
  <div fxLayoutAlign="end center" style="padding: 14px">
    <mat-card style="width: 500px; height: 500px">
      <div id="flowchartdiv2" style="height: 450px; width: 450px"></div>
    </mat-card>
  </div>
</div>
