<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="header">
  <div><span>Angular Material Charts & Phosphor Icons</span></div>
  <span class="spacer"></span>
  <div>
    <nav fxLayout="row" fxLayoutAlign="space-around center">
      <a
        class="nav-item-link"
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
      <a
        class="nav-item-link"
        routerLink="/icons"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Phosphor Icons</a
      >
      <a
        class="nav-item-link"
        routerLink="/venndiagram"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Venn Diagram</a
      >
      <a
        class="nav-item-link"
        routerLink="/flowchart"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Flow Chart</a
      >
      <a
        class="nav-item-link"
        routerLink="/hierarchychart"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Hierarchy Chart</a
      >
      <a
        class="nav-item-link"
        routerLink="/mapchart"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Map Chart</a
      >
      <a
        class="nav-item-link"
        routerLink="/piechart"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Pie Chart</a
      >
      <a
        class="nav-item-link"
        routerLink="/radarchart"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Radar Chart</a
      >
      <a
        class="nav-item-link"
        routerLink="/stockchart"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Stock Chart</a
      >
      <a
        class="nav-item-link"
        routerLink="/xychart"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >XY Chart</a
      >
    </nav>
  </div>
</mat-toolbar>
